<% include('partials/head') %>
<title>Login</title>
</head>
<body class="no-js">
	<header>
		<h1>login</h1>
	</header>
	<main>
		<section>
			<form class="" action="/login" method="post">
				<label for="password">Password</label>
				<input type="password" name="password" value="">
				<button type="submit" name="button">Inloggen</button>
			</form>
		</section>
	</main>
<%- include('partials/tail') %>
