<%- include('partials/head') %>
<title>Register</title>
</head>
<body class="no-js">
	<main>
		<section>
			<form action="/register" method="post">
				<label for="username">Username</label>
				<input type="text" name="username" required value="">
				<label for="email">Email</label>
				<input type="text" name="email" required value="">
				<label for="password">Password</label>
				<input type="password" name="password" required value="">
				<button type="submit" name="signup">Sign Up</button>
			</form>
		</section>
	</main>
<%- include('partials/tail') %>
