<% include('../partials/head') %>
<title>Data upload</title>
</head>
<body class="no-js">
	<header>
		<h1>Data upload</h1>
	</header>
	<main>
		<section>
			<form action="/data/upload" method="post" enctype="multipart/form-data">
				<label for="company">Inzamelingsbedrijf</label>
				<input type="text" name='company' id="company">
				<label for="file">Dataset</label>
				<input type="file" name="csv" id='file' accept=".csv,text/csv"/>
				<button>Upload Data</button>
			</form>
		</section>
	</main>
<%- include('../partials/tail') %>
