<%- include('../partials/head.ejs') %>
<title>Zero Waste - Kaart</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main id="chart">
		
	</main>
<%- include('../partials/notification.ejs') %>
<!-- <script type='module' src="./public/scripts/dataset-manager.mjs"></script> -->
</body>
</html>