<% include('../partials/head') %>
<title>Data upload</title>
</head>
<body class="no-js">
	<header>
		<h1>Data upload</h1>
	</header>
	<main>
		<section>
			<form action="/data/upload" method="post" enctype="multipart/form-data">
				<input type="file" name="csv" />
				<button>Upload Data</button>
			</form>
		</section>
	</main>
<%- include('../partials/tail') %>
