<%- include('../partials/head.ejs') %>
<title>Data Manager</title>
</head>
<body class="no-js">
	<header>
		<h1>Dataset manager</h1>
	</header>
	<main>
		<section id='upload'>
			<h2>Upload Dataset</h2>
			<form action="/data" method="post" enctype="multipart/form-data">
				<label for="collection-company">Company:</label>
				<input type="text" name='collection-company' required id="collectionCompany">
				<label for="file">Dataset:</label>
				<input type="file" name="csv" id='file' required accept=".csv,text/csv"/>
				<button>Upload Data</button>
			</form>
		</section>
		<section id='datasets'>
			<h2>Loaded Datasets</h2>
			<!-- here come al the datasets that are loaded and processed -->
		</section>
	</main>
<%- include('../partials/tail.ejs') %>
