#container {
	/* Sizing */
	/* max-height: 100%; */

	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: .8em;
	grid-template-areas: 
		"info map map map"
		"compare map map map"
		"categories map map map";
}

#info { grid-area: info}
#compare { grid-area: compare}
#categories { grid-area: categories}
#map { grid-area: map}

svg {
	font-size: 300%;
}

#container > section {

	padding: .5rem;

	/* Styling */
	background-color: white;
	box-shadow: 5px 5px 20px -15px rgba(0,0,0,0.3);
}

#map {
	display: flex;
	flex-flow: row;
	align-items: stretch;
}

#map > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

#map > div header {
	display: flex;
	justify-content: space-between;
}

#map > div header div {
	display: flex;
	padding: 0 0.4rem;

}

#map > div.compare-link {
	width: auto;
	height: auto;
}

div.compare-link header {
	display: flex;
	justify-content: space-between;
}

div.compare-link header div {
	display: flex;
	padding: 0 0.4rem;
}

div.compare-link{
	justify-content: center;
	align-items: center;
}

div.compare-link a,
div.compare-link a:link,
div.compare-link a:visited {
	padding: 2em 0;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: var(--accent4);
	transition: all .2s ease-in;
}

div.compare-link a:active,
div.compare-link a:hover { 
	background-color: var(--accent3);
	padding: 4em 0;
}

div.compare-link p {
	display: inline-block;
	transform: rotate(-90deg);
}

#map > div svg {
	flex: 1 2 auto;
}


/* >= Tablet portrait */
@media (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {

	#container {
		grid-template-areas:
			"info info info info"
			"compare compare categories categories"
			"map map map map";
	}

	#map {
		flex-flow: column;
	}

	div.compare-link {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div.compare-linka,
	div.compare-link a:link,
	div.compare-link a:visited {
		height: 2rem;
		padding: 0 3em;
	} 
	
	div.compare-link p {
		transform: none;
	}
	
	div.compare-link a:active,
	div.compare-link a:hover { 
		background-color: var(--accent3);
		padding: 0 5em;
	}
	

}
