<header>
	<div id="logo">
		<img src="/public/assests/logo.svg" alt="datastudio logo">
		<p>Zero Waste</p>
	</div>
	<nav>
	<% if (links.datasetManager) { %>
		<a href="/data">Dataset Manager</a>
	<% } %>
	<% if (user) { %>
		<a href="/account/logout">Uitloggen</a>
	<% } else { %>
		<a href="/account/login">Inloggen</a>
	<% } %>
	</nav>
</header>